:root {
    --main-color: rgb(218, 143, 205);
    --secondary-color: rgb(101, 101, 206);
}
* {
    font-family: "Fredoka One", cursive;
    font-size: 1.1rem;
    /* letter-spacing: 2px; */
}

@media only screen and (max-width: 574px) {
    * {
        font-size: 1rem;
    }

    .description {
        display: none;
    }

    nav {
        margin-bottom: 10px;
    }
    nav h2 {
        font-size: 1.1rem;
        font-weight: bolder;
    }
    #gap {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    #player1 {
        border-bottom: 1px solid black;
    }
}

@media only screen and (min-width: 768px) {
    #player1 {
        border-right: 1px solid black;
    }
}

body {
    height: 100%;
    background-color: rgb(236, 231, 231);
}
#mainContainer {
    padding: 10px;
    background-image: url("images/wood_texture.jpeg");
    background-repeat: repeat;
    box-shadow: -10px 10px 5px rgb(95, 95, 95);
}

main {
    background-color: white;
    padding: 5px;
}

nav {
    font-family: "Gloria Hallelujah", cursive;
    color: white;
    font-weight: bold;
    background-color: var(--main-color);

    box-shadow: -10px 10px 5px rgb(95, 95, 95);
}

#gap {
    height: 15px;
    padding: 0px;
}

#rightChain,
#leftChain {
    height: 20px;
    border: 5px solid black;
    width: 10px;
}
#rightChain {
    float: right;
}
#leftChain {
    float: left;
}

.description {
    font-size: 1.05rem;
    margin: 5px;
    padding: 5px;
    border: 3px solid var(--secondary-color);
    border-radius: 8% 10%;
}

/* main button design */
button {
    padding: 10px;
    border: 3px solid var(--secondary-color);
    border-radius: 44%;
    margin: 8px;
    color: var(--secondary-color);
}

#newGameBtn {
    display: none;
}

.home-button {
    width: 110px;
}

button.up,
button.down {
    width: 100%;
    height: 40%;
    margin: 0px;
    border: none;
    border-radius: 0;
    background-color: white;
}

button.up {
    padding-top: 0px;
    padding-bottom: 5%;
}

button.down {
    padding-bottom: 0px;
    padding-top: 5%;
}

.player-score {
    position: absolute;

    top: 50%;
    left: 47.5%;
}

.player-score p {
    font-size: 1.5rem;
    margin: 0px;
}

.divider {
    border: 1px solid black;
}

#signUpField,
#loginField {
    border: 3px solid var(--secondary-color);
    border-radius: 30% 25% 25% 30%;
}

#signUpField legend {
    width: 125px;
}
#loginField legend {
    width: 100px;
}

input {
    border: 2px solid black;
    padding-left: 8px;
    padding-right: 10%;
    border-radius: 6px;
    width: 75%;
}

select {
    width: 12em;
    margin: 0;
    margin-left: -12.75em;
}

#selectPlayers {
    display: flex;
    flex-flow: wrap;
}

.username {
    width: 150px;
}

.validMessage {
    display: inline;
}
.validMessage i {
    display: none;
    position: relative;
    right: 10%;
}

.valid ~ .validMessage .check {
    display: inline;
    color: rgb(135, 252, 39);
}

.invalid ~ .validMessage .x-mark {
    display: inline;
    color: red;
}
